/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background-image: linear-gradient(25deg, #48dbe0, #48a1e0, #8a8aeb, #be8aeb);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; /*不然所有summary收起來後，背景下方會白白的*/
}

h1 {
  color: #2f0ec2;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  background-image: linear-gradient(to right, #e890c6, #ba9adb);
  width: 300px;
  margin: 0 auto;
}

p {
  color: #08080f;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  text-indent: 36px; /*縮排*/
  margin: 10px;
}

img {
  display: block;
  margin: auto;
  border-radius: 10px;
}

li {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  text-indent: 36px;
  margin: 10px;
  list-style-type: square;
  list-style-position: inside;
}

.container {
  display: flex;
  margin: 0 auto;
  padding: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.image-container {
  display: flex;
  justify-content: space-between;
}

.image-container img {
  display: inline-block;
  border-radius: 10px;
  margin: 20px;
}

summary {
  border-radius: 10px 10px 0 0; /*只保留上圓角*/
  margin-bottom: 0px;
  color: #08080f;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  list-style: none;
  cursor: pointer; /*手指游標*/
}

details {
  display: block;
  border-radius: 10px;
  margin-bottom: 20px;
}

/*還原border線*/
details[open] summary {
  border-bottom: 3px solid #b8eaf3;
}
details:not([open]) summary {
  border-bottom: none;
}

/* 開啟for box1、2*/
.details-class1[open] {
  background-image: linear-gradient(to bottom, #3adeaa, #2c9ade);
  width: 700px;
  text-align: center;
}
/* 關閉*/
.details-class1:not([open]) summary {
  background-image: linear-gradient(to bottom, #3adeaa, #2c9ade);
  border-radius: 10px;
}

/* 開啟 for box4、6*/
.details-class2[open] {
  background-image: linear-gradient(to bottom, #2c9ade, #e887c3);
  width: 400px;
  text-align: center;
}
/* 關閉*/
.details-class2:not([open]) summary {
  background-image: linear-gradient(to bottom, #2c9ade, #e887c3);
  border-radius: 10px;
}

/* 開啟 for box3*/
.details-class3[open] {
  background-image: linear-gradient(to bottom, #3adeaa, #2c9ade);
  width: 400px;
  text-align: center;
}
/* 關閉*/
.details-class3:not([open]) summary {
  background-image: linear-gradient(to bottom, #3adeaa, #2c9ade);
  border-radius: 10px t;
}

/* 開啟 for box5*/
.details-class4[open] {
  background-image: linear-gradient(to bottom, #2c9ade, #e887c3);
  width: 800px;
  text-align: center;
}
/* 關閉*/
.details-class4:not([open]) summary {
  background-image: linear-gradient(to bottom, #2c9ade, #e887c3);
  border-radius: 10px;
}

/* 開啟 for box7、8、9*/
.details-class5[open] {
  background-image: linear-gradient(to bottom, #e887c3, #3adeaa);
  width: 600px;
}

/* 關閉*/
.details-class5:not([open]) summary {
  background-image: linear-gradient(to bottom, #e887c3, #3adeaa);
  border-radius: 10px !important;
}

/*按鈕下拉*/
.drop {
  background-color: #f385ce;
  color: #680948;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2c9ade;
  z-index: 1;
}

.dropdown-content a {
  color: #b40000ec;
  font-weight: bold;
  display: block;
}

.dropdown-content a:hover {
  background-color: #7784ff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .drop {
  background-color: #0e193d;
  color: white;
}
